
.turing-tape > *{
    color: black;
    background-color: white;
    padding: .5em 1em;
    font-size: 14pt;
    margin: auto;
    border: 1px solid black;
    border-radius: 8px;
}
.state-active{
    color: white;
    background-color: black;
    border-radius: 8px;
}